Django==3.1.7
django-allauth==0.44.0
django-appconf==1.0.4
django-cors-headers==3.7.0
django-countries==7.0
django-filter==2.4.0
django-heroku==0.3.1
django-measurement==3.2.3
django-multiselectfield==0.1.12
django-nested-admin==3.3.3
django-phonenumber-field==5.0.0
django-phonenumbers==1.0.1
django-redis==4.12.1
django-rest-auth==0.9.5
django-url-params==1.0.2
django-versatileimagefield==2.0
djangorestframework==3.12.2
fontawesome-free==5.15.1
gunicorn==20.1.0
Jinja2==3.0.0
Js2Py==0.70
pipwin==0.5.0
pycodestyle==2.6.0
pycparser==2.20
PyHamcrest==2.0.2
pyjsparser==2.7.1
PyJWT==2.0.1
pylint==2.6.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pypiwin32==223
PyPrind==2.11.2
pySmartDL==1.3.4
PySocks==1.7.1
python-dateutil==2.8.1
python-decouple==3.4
python-magic==0.4.22
python-rle==0.0.3
python3-openid==3.2.0
pyttsx3==2.90
pytz==2021.1
pywin32==227
regex==2020.9.27
requests==2.25.1
sqlparse==0.4.1
sympy==1.8
urllib3==1.26.3
vine==5.0.0
virtualenv==20.0.35
websocket-client==0.57.0
whitenoise==5.2.0
wrapt==1.12.1