aioredis==1.3.1
amqp==5.0.6
appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
async-timeout==3.0.1
attrs==20.3.0
autobahn==20.12.3
Automat==20.2.0
autopep8==1.5.4
beautifulsoup4==4.9.1
billiard==3.6.4.0
bs4==0.0.1
celery==5.0.5
certifi==2020.12.5
cffi==1.14.5
channels==3.0.3
channels-redis==3.2.0
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.3
comtypes==1.1.7
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.6
cycler==0.10.0
dahuffman==0.4.1
daphne==3.0.1
defusedxml==0.6.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.7
django-allauth==0.44.0
django-appconf==1.0.4
django-cors-headers==3.7.0
django-countries==7.0
django-filter==2.4.0
django-heroku==0.3.1
django-measurement==3.2.3
django-multiselectfield==0.1.12
django-nested-admin==3.3.3
django-phonenumber-field==5.0.0
django-phonenumbers==1.0.1
django-redis==4.12.1
django-rest-auth==0.9.5
django-url-params==1.0.2
django-versatileimagefield==2.0
djangorestframework==3.12.2
docker==4.4.1
docopt==0.6.2
drf-yasg==1.20.0
filelock==3.0.12
fontawesome-free==5.15.1
geographiclib==1.50
geopy==2.0.0
golomb-coding==1.0.5
gunicorn==20.1.0
hiredis==1.1.0
hyperlink==20.0.1
idna==2.10
importlib-metadata==3.4.0
incremental==17.5.0
inflection==0.5.1
instaloader==4.6
isort==5.5.2
itypes==1.2.0
Jinja2==3.0.0
joblib==0.16.0
Js2Py==0.70
kiwisolver==1.2.0
kombu==5.0.2
lazy-object-proxy==1.4.3
lxml==4.6.2
Markdown==3.3.3
MarkupSafe==2.0.0
matplotlib==3.3.3
mccabe==0.6.1
measurement==3.2.0
minimal-binary-coding==1.0.1
mpmath==1.2.1
msgpack==1.0.2
mysql-connector-python==8.0.21
newsapi-python==0.2.6
nltk==3.5
numpy==1.19.2
oauthlib==3.1.0
packaging==20.8
pandas==1.1.2
phonenumbers==8.12.18
Pillow==8.1.0
pipwin==0.5.0
prompt-toolkit==3.0.18
psycopg2==2.8.6
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/Users/Geetansh%20Garg/Downloads/PyAudio-0.2.11-cp38-cp38-win_amd64.whl
pycodestyle==2.6.0
pycparser==2.20
PyHamcrest==2.0.2
pyjsparser==2.7.1
PyJWT==2.0.1
pylint==2.6.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pypiwin32==223
PyPrind==2.11.2
pySmartDL==1.3.4
PySocks==1.7.1
python-dateutil==2.8.1
python-decouple==3.4
python-magic==0.4.22
python-monkey-business==1.0.0
python-rle==0.0.3
python3-openid==3.2.0
pyttsx3==2.90
pytz==2021.1
pywin32==227
redis==3.5.3
regex==2020.9.27
requests==2.25.1
requests-oauthlib==1.3.0
RLE==1.1
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
secure-smtplib==0.1.1
service-identity==18.1.0
six==1.15.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
sqlparse==0.4.1
sympy==1.8
toml==0.10.1
tqdm==4.49.0
twilio==6.10.1
Twisted==20.3.0
txaio==20.12.1
typing-extensions==3.7.4.3
tzlocal==2.1
unary-coding==1.0.3
uritemplate==3.0.1
urllib3==1.26.3
vine==5.0.0
virtualenv==20.0.35
wcwidth==0.2.5
websocket-client==0.57.0
whitenoise==5.2.0
wikipedia==1.4.0
wrapt==1.12.1
zipp==3.4.0
zope.interface==5.2.0